:root {
  --fire-color: #f57d31;
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --background: #f7f7f7;
  --xtiny: 4px;
  --tiny: 8px;
  --small: 12px;
  --mini: 16px;
  --base: 24px;
  --medium: 32px;
  --large: 64px;
  --font-size-tiny: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-big: 24px;
  --line-height-small: 16px;
  --line-height-big: 32px;
  --bold: 700;
  --regular: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  background-color: var(--fire-color);
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__header h1 {
  margin-top: var(--base);
  margin-left: var(--mini);
  margin-right: var(--large);
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  font-weight: var(--bold);
  color: var(--white);
}

.card__header span {
  margin-top: var(--base);
  margin-right: var(--mini);
  color: var(--white);
  font-size: var(--font-size-small);
  line-height: var(--line-height-big);
  font-weight: var(--bold);
}

.card__info {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mini);
  margin: 0 var(--xtiny) var(--xtiny) var(--xtiny);
  border-radius: 8px;
  background-color: var(--white);
}

.card__type {
  display: flex;
  gap: var(--mini);
}

.card__type h2 {
  background-color: var(--fire-color);
  padding: 2px 8px;
  border-radius: 10px;
  color: var(--white);
  font-size: var(--font-size-tiny);
  font-weight: var(--bold);
  line-height: var(--line-height-small);
}

.card__about h2 {
  color: var(--fire-color);
  font-size: var(--font-size-medium);
  font-weight: var(--bold);
  line-height: var(--line-height-small);
}

.card__size-pokemon {
  display: flex;
  gap: 24px;
}

.card__measure {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
}

.card__measure-values {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__measure-values span {
  font-size: var(--font-size-tiny);
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  color: var(--dark-gray);
}

.card__measure-span {
  display: flex;
  justify-content: center;
}
.card__measure-span span {
  font-size: 8px;
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  color: var(--medium-gray);
}
