:root {
  --fire-color: #f57d31;
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --background: #f7f7f7;
  --xtiny: 4px;
  --tiny: 8px;
  --small: 12px;
  --mini: 16px;
  --base: 24px;
  --medium: 32px;
  --large: 64px;
  --font-size-tiny: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-big: 24px;
  --line-height-small: 16px;
  --line-height-big: 32px;
  --bold: 700;
  --regular: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  /* display: flex; */
  /* flex-direction: column; */
  width: 300px;
  height: 400px;
  background-color: var(--fire-color);
  border-radius: 12px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__header h1 {
  margin-top: var(--base);
  margin-left: var(--mini);
  margin-right: var(--large);
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  font-weight: var(--bold);
  color: var(--white);
}

.card__header span {
  margin-top: var(--base);
  margin-right: var(--mini);
  color: var(--white);
  font-size: var(--font-size-small);
  line-height: var(--line-height-big);
  font-weight: var(--bold);
}
